/* NOTE(imran): window close button pain */
headerbar {
	padding-right: 4px;
	padding-left: 4px;
}

/* NOTE(imran): window title bar thickness */
window.ssd headerbar.titlebar {
	padding-top: 2px;
	padding-bottom: 3px;
	min-height: 0;
}

/* NOTE(imran): Remove rounded corners */
.titlebar,
.titlebar .background,
decoration,
window,
window.background {
	border-radius: 0;
}

scrollbar slider {
	min-width: 6px;
	min-height: 6px;
}
